.advertise {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #ff2e73 url(https://sui.ssgcdn.com/cmpt/banner/202510/2025102909550283787098074809_91.png) center/cover no-repeat;
    font-size: 12px;
    font-weight: 500;
}

.ad-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.close-ad-btn {
    position: absolute;
    right: 0;
    color: white;
}

.header-top {
    margin: 20px auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    gap: 10px;
}

.logo p {
    font-size: 10px;
    font-weight: 600;
    color: #222;
}

.logo h1 {
    font-size: 24px;
}

.relative-mall-list {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #666;
    font-size: 13px;
}

.relative-mall-list li {
    position: relative;
}

.relative-mall-list li:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    transform: translateY(25%);
    margin: 0 4px;
    background-color: #ddd;
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    width: 360px;
    height: 40px;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: 1px solid;
    padding: 5px 50px 5px 20px;
}

.search-box>button>img {
    position: absolute;
    width: 28px;
    right: 3%;
    top: 20%;
}

.header-top-icon {
    display: flex;
    gap: 10px;
}

.header-top-icon img {
    width: 28px;
    height: 28px;
    transform: translateY(3px);
}

.header-bottom {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}

.header-bottom-left {
    display: flex;
}

.all-category {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.all-category>img {
    width: 100%;
}

.category-list-wrap {
    position: relative;
    display: none;
    width: 300%;
    top: 45%;
    height: auto;
    left: 0;
}

.category-list {
    position: absolute;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    background-color: white;
    z-index: 100;
}

.category-list>li>ul {
    display: none;
}

.all-category>img:hover+.category-list-wrap {
    display: block;
}

.sub-category {
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sub-category>li:last-child {
    position: relative;
}

.sub-category>li:last-child:hover::after {
    border-top: none;
    border-bottom: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sub-category>li:last-child::after {
    content: "";
    position: absolute;
    right: -25%;
    top: 25%;
    border-top: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.delivery-dropdown {
    width: 300%;
    font-size: 12px;
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    border: 1px solid;
    background-color: white;
    z-index: 1;
}

.delivery-dropdown>li {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.delivery-dropdown>li:last-child {
    border-bottom: none;
}

.delivery-dropdown>li>img {
    width: 5rem;
}

.sub-category>li:last-child:hover .delivery-dropdown {
    display: block;
}

.for-user {
    color: #666;
    font-size: 12px;
    display: flex;
    gap: 10px;
}

.for-user>span {
    position: relative;
}

.for-user>span:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    margin: 0 4px;
    top: 4%;
    background-color: #ddd;
}

.header-img-list {
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.header-img-list>li>a>img {
    width: 424px;
    height: 375px;
}