.max-width-1280 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.quick-nav {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.quick-nav>li>a {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}

.quick-nav>li>a>div {
    width: 100%;
    border-radius: 50%;
    /* background-color: yellow; */
}

.quick-nav>li>a img {
    width: 72px;
    height: 72px;
}

.hot-items {
    margin-top: 20px;
}

.hot-items>h2 {
    font-weight: 700;
    font-size: 20px;
}

.hot-items-card-list {
    width: 100%;
    display: flex;
    gap: 24px;
    overflow: hidden;
}

.hot-items-card-list>li {
    width: 100%;
    flex: 1;
    padding: 10px 0 20px 0;
}

.hot-item {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.hot-item:hover {
    cursor: pointer;
}

.hot-item-image>img {
    width: 100%;
    min-width: 193.33px;
    gap: 10px;
}

.hot-item-desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hot-item-desc-top {
    width: 100%;
    font-size: 12px;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.function-for-user {
    display: flex;
}

.function-for-user>button {
    padding: 4px;
}

.function-for-user>button>img {
    width: 20px;
}

.hot-item-desc-bottom {
    font-size: 13px;
    line-height: 16px;
}

.item-name {
    font-weight: bold;
}

.item-details {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.not-current-price>span>del {
    font-size: 12px;
    color: #888;
}

.current-price {
    display: flex;
    gap: 4px;
}

.discount-rate {
    color: #ff5452;
    font-weight: 600;
}

.final-price {
    font-weight: 600;
    line-height: 19px;
}

.hot-item-review {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 12px;
    color: #777;
}

.star-review {
    position: relative;
}

.star-review::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    margin: 0 3px;
    transform: translateY(25%);
    background-color: #777;
}

.badge {
    max-height: 48px;
    display: flex;
    flex-wrap: wrap;
}

.badge span {
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
    margin: 4px 4px 0 0;
    background-color: #f5f5f5;
    font-size: 11px;
    color: #222;
    text-overflow: ellipsis;
}

.color-chip {
    display: flex;
}

.color-chip-element {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.main-events {
    background: url(https://sui.ssgcdn.com/cmpt/banner/202512/2025122412372369890489566148_862.jpg) center / cover no-repeat;
    height: 72px;
    color: white;
    margin: 80px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 120px 0 48px;
}

.membership {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.membership+p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
}

.membership+p::after {
    display: block;
    position: absolute;
    content: "";
    background: url(../assets/img/next.png) center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 4px;
    top: -30%;
    right: -20%;
}

.popular-sale-items {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position-x: center;
    background: url(../assets/img/bg_special_deal@2x.png);
}

.popular-sale-items>.max-width-1280 {
    width: 100%;
    max-width: 1280px;
}

.popular-sale-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.popular-sale-top>h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    max-width: 52%;
    color: white;
}

.on-sale-brands {
    display: flex;
    gap: 10px;
    height: 46px;
}

.on-sale-box {
    position: relative;
    width: 100%;
    border-radius: 24px;
    color: #777;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.on-sale-box>input {
    display: none;
}

.on-sale-box>label {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.on-sale-box>label:last-child {
    white-space: nowrap;
}

.on-sale-box:hover {
    box-shadow: inset 0 0 0 1px #222;
}

.on-sale-box>label:hover {
    cursor: pointer;
}

.on-sale-box:has(input:checked) {
    color: white;
    background-color: #222;
    font-weight: 700;
}

.four-card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 20px;
}

.four-card-list>li:hover {
    cursor: pointer;
}

.four-card-image {
    position: relative;
    width: 100%;
}

.four-card-image>img:first-child {
    width: 100%;
    pointer-events: none;
}

.four-card-image>img:last-child {
    position: absolute;
    width: 15%;
    pointer-events: none;
    bottom: 1%;
    left: 0;
}

.four-card-desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.four-card-desc-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.four-card-desc-bottom {
    padding-right: 20px;
}

.four-card-item-name {
    font-size: 13px;
}

.four-card-item-price {
    line-height: 19px;
    font-weight: 600;
}

.four-card-item-review {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 7px;
    color: #777;
}

.four-card-item-review>span:first-child {
    position: relative;
}

.four-card-item-review>span:first-child::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    margin: 0 3px;
    transform: translateY(25%);
    background-color: #666;

}

.four-card-item-review>span:last-child {
    transform: translateY(5%);
}

.badge>.fresh {
    color: rgb(11, 155, 91);
}

.view-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    height: 52px;
    padding: 0 12px;
    color: #222;
    font-weight: 500;
    box-shadow: inset 0 0 0 1px #cfcfcf;
}

.view-all>a::after {
    display: block;
    position: absolute;
    content: "";
    background: url(../assets/img/next.png) center no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    margin: 4px;
    top: 25%;
    left: 63%;
}